<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="{{ siteMeta.author.name }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../styles/homepage.css" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
  </head>
  <body>
    <div class="container">
      
      <!-- <h1> {{  title  }} </h1> -->
      {% render 'nav.liquid'%}


      
      <!-- <h1> {{  title  }} </h1> -->

      <div class="content">
        {{ content }}
      </div>


      <h2 class="category"></h2>
      <ul class="posts">
        {% for post in collections.books reversed %}
          {% unless post.data.publish contains "no" or post.data.visible contains "no" %}
            <li class="post">
              <span class="post-title">
                {% if post.data.notes %}
                {{ post.data.title }}
                {% else %}
                <a href="{{ post.url }}">{{ post.data.title }}</a>
                {% endif %}
              </span>
              <span class="post-date">
                {{ post.date | date: '%b %Y' | downcase }}
              </span>
              <span class="rating">
              <script> document.write("●".repeat({{post.data.rating}}))</script>
              </span>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
  </body>
</html>
