<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ title }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../styles/book.css" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
  </head>
  <body>
    <div class="container post-container">
      
      {% render 'nav.liquid'%}


      <header>
        <h3><em>{{ title }}</em> by {{ authors }}</h3>
        <span class="post-date"> {{date  | date: '%b %Y'}}</span> 
        <br>
        <span class="post-date">   
          <script> document.write("●".repeat({{rating}}) + "○".repeat(5 - {{rating}}))</script> 
        </span>

      </header>
      
      <div class="excerpt">
        {{ excerpt }}
      </div>

      <div class="content">
      <h4>My notes</h4>
      {{ content }}
      </div>

      <div class="back-link">
        <a href="/bookshelf"> ← bookshelf </a> 
      </div>
    </div>
  </body>
</html>
