<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="{{ siteMeta.author.name }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../styles/homepage.css" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
  </head>
  <body>
    <div class="container home-container">
      
      <!-- <h1> {{  title  }} </h1> -->
      <!-- {% render 'nav.liquid'%} -->

      <div class="content">
        {{ content }}
      </div>

      <h2 class="category"></h2>
      <ul class="posts">
        {% for post in collections.journal reversed %}
          {% unless post.data.publish contains "no" or post.data.visible contains "no" %}
            <li class="post">
              <span class="post-date">
                {{ post.date | date: '%Y-%m-%d' | downcase }}
              </span>
              &nbsp;
              <span class="post-title">
                {% if post.data.draft %} DRAFT -  {% endif %}
                <a href="{{ post.url }}">{{ post.data.title }}</a>
              </span>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
